<html>
  <head>
    <title>Playground</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid #fff;
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-left: 4px solid #ff3d00;
        border-bottom: 4px solid transparent;
        animation: rotation 0.5s linear infinite reverse;
      }
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .hide {
        display: none !important;
      }
      .wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
      }
      body {
        padding: 30px;
      }
    </style>
    <script>
      current_theme = "default";
      piece_set = "";
      frame_duration = 1000;
      show_arrow = true;
      frameMode = true;

      viewer = "w";
      function refreshBoardImage(data) {
        if (!data) {
          data = document.querySelector("#input").value;
        }
        let renderGif = false;
        if (data.includes("1.")) {
          console.log("this is sdfjdhsjkfhdskjfh");
          index = data.indexOf("1.");
          data = data.substring(index).replace("\n", "");
          renderGif = true;
        }
        imageUrl = "";
        if (!renderGif) {
          imageUrl = `/?viewer=${viewer}&fen=${encodeURIComponent(data.trim())}&t=${new Date().getTime()}`;
        } else {
          imageUrl = `/gif?viewer=${viewer}&arrow=${show_arrow}&duration=${frame_duration}&pgn=${encodeURIComponent(
            data.trim()
          )}&t=${new Date().getTime()}`;
        }
        imageUrl = imageUrl += "&theme=" + current_theme;
        imageUrl = imageUrl += "&frame=" + frameMode;
        if (piece_set) {
          imageUrl = imageUrl += "&piece=" + piece_set;
        }
        document.querySelector("#img").setAttribute("src", imageUrl);
        document.querySelector("#link").setAttribute("href", imageUrl);
        onImageLoaded(true);
      }
      function onTextChange(e) {
        pgn = document.querySelector("#input").value.replace(/\\n/g, " ");
        refreshBoardImage(pgn);
      }
      function setData(data) {
        document.querySelector("#input").value = data;
        refreshBoardImage(data);
      }

      function onImageLoaded(show_loader) {
        if (show_loader) {
          document.querySelector(".loader").setAttribute("class", "loader");
          document.querySelector("#img").setAttribute("class", "img-responsive hide");
        } else {
          document.querySelector("#img").setAttribute("class", "img-responsive");
          document.querySelector(".loader").setAttribute("class", "loader hide");
        }
      }
      function setPieceSet() {
        piece_set = document.querySelector("#pieceset").value;
        refreshBoardImage();
      }
      function setTheme(theme) {
        current_theme = theme;
        refreshBoardImage();
      }
      function rangeChange() {
        frame_duration = document.querySelector("#durationRange").value;
        document.querySelector("#rangeLabel").textContent = `Gif delay ${frame_duration} (ms)`;
        refreshBoardImage();
      }
      function openFile(e) {
        let reader = new FileReader();
        console.log(e.files[0]);
        if (e.files[0].name.includes(".pgn")) {
          reader.readAsText(e.files[0]);

          reader.onload = function () {
            setData(reader.result);
          };
        }
      }
      function setShowArrow(el) {
        show_arrow = el;
        refreshBoardImage();
      }

      function setViewer(el) {
        viewer = el ? "b" : "w";
        refreshBoardImage();
      }

      function setFrameless(v) {
        frameMode = !v;
        refreshBoardImage();
      }
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header mb-3">
        <div class="alert alert-warning" role="alert" style="padding: 2px 10px; font-size: 13px">
          Since free <strong>https://chess-board.fly.dev/</strong> have limit memory usage so the gif only generate 20
          moves
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="red"
            class="bi bi-bug"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"
            />
          </svg>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="form-label">Theme:</label>
          <select id="themes" class="form-select" aria-label="Default select example" onchange="setTheme(this.value)">
            <option selected>Select a theme</option>
            {% for member in themes: %}
            <option value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>
          <label class="form-label mt-2">Piece set:</label>
          <select id="pieceset" class="form-select" aria-label="Default select example" onchange="setPieceSet()">
            <option selected>Select piece set</option>
            {% for member in piece_sets: %}
            <option value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>
          <label for="durationRange" class="form-label mt-3" id="rangeLabel">Gif delay 1000 (ms): </label>
          <input
            type="range"
            class="form-range"
            min="100"
            value="1000"
            max="10000"
            id="durationRange"
            onchange="rangeChange()"
          />

          <label class="form-label mt-2">PGN or FEN:</label>
          <textarea rows="8" class="form-control mb-3" onchange="onTextChange()" id="input">
rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1</textarea
          >
          <div class="row">
            <div class="form-check col-md-4">
              <input
                class="form-check-input"
                type="checkbox"
                checked="true"
                id="chkMoveArrow"
                onchange="setShowArrow(this.checked)"
              />
              <label class="form-check-label" for="chkMoveArrow"> Show move arrow </label>
            </div>

            <div class="form-check col-md-4">
              <input class="form-check-input" type="checkbox" id="chkViewer" onchange="setViewer(this.checked)" />
              <label class="form-check-label" for="chkViewer"> View as black</label>
            </div>

            <div class="form-check col-md-4">
              <input class="form-check-input" type="checkbox" id="chkFrame" onchange="setFrameless(this.checked)" />
              <label class="form-check-label" for="chkFrame">Frameless</label>
            </div>
          </div>

          <div class="float-end">
            <button
              onclick="setData('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1')"
              type="button"
              class="btn btn-info"
            >
              Start possition
            </button>

            <button onclick="onTextChange()" type="button" class="btn btn-primary">View</button>

            <a type="button" class="btn btn-success" href="" id="link" target="_blank">Open URL</a>
          </div>
          <label class="form-label mt-5">Sample games:</label>

          <select
            id="sample-games"
            class="form-select"
            aria-label="Default select example"
            onchange="setData(this.value)"
          >
            <option selected>Select a game</option>
            {% for member in data_sources: %}
            <option value="{{member[1]}}">{{member[0]}}</option>
            {% endfor %}
          </select>

          <label class="form-label mt-5">Sample puzzle:</label>

          <select
            id="sample-puzzle"
            class="form-select"
            aria-label="Default select puzzle"
            onchange="setData(this.value)"
          >
            <option selected>Select a game</option>
            {% for member in fen_sources: %}
            <option value="{{member}}">{{member}}</option>
            {% endfor %}
          </select>

          <div class="mt-5">
            <label for="formFile" class="form-label">Or open a PGN file</label>
            <input class="form-control" type="file" id="pgnFile" onchange="openFile(this)" />
          </div>
        </div>
        <div class="col-8 wrapper">
          <span class="loader"></span>
          <img
            src="/"
            id="img"
            width="100%"
            style="max-width: fit-content"
            class="img-responsive hide"
            onload="onImageLoaded(false)"
          />
        </div>
      </div>

      <br />
    </div>
  </body>
</html>
